
/* Site Main Path Settings */
$cache-busting:                     #{'?v='} + unique_id();
$path-assets-url:                   "../../../assets";
$path-fonts-url:                    "#{$path-assets-url}/fonts";
$path-img-url:                      "#{$path-assets-url}/img";
$path-img-url-icons:                "#{$path-img-url}/icons";
/* Site Main Path Settings */

/* Site General Color Settings */
$site-clr-white:                      #FFFFFF;
$site-clr-black:                      #000000;
$site-clr-blue:                       #357CE1;
$site-clr-blue-dark:                  #004378;
$site-clr-cyan:                       #17A2B8;
$site-clr-green:                      #70A800;
$site-clr-red:                        #B82C0D;
$site-clr-orange:                     #E67948;
$site-clr-yellow:                     #FF8C00;
/* Site General Color Settings */

/* Site Valid Color Settings */
$site-result-dark-error-clr:            $site-clr-red;
$site-result-dark-error-brdr:           $site-clr-red;
$site-result-dark-error-bg:             $site-clr-white;
$site-result-dark-success-clr:          $site-clr-green;
$site-result-dark-success-brdr:         $site-clr-green;
$site-result-dark-success-bg:           $site-clr-white;
$site-result-dark-warning-clr:          $site-clr-orange;
$site-result-dark-warning-brdr:         $site-clr-orange;
$site-result-dark-warning-bg:           $site-clr-white;
/* Site Valid Color Settings */

/* Site Main Settings */
$site-font-family-default:            'Barlow Semi Condensed', sans-serif;
$site-font-size-base:                 1rem;
$site-font-clr-pri:                   #000000;
$site-font-clr-sec:                   #333333;
/* Site Main Color Settings */